/* Algemene stijlen */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #000000;
    overflow: hidden;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.nav-item {
    display: inline;
}

.nav-link {
    display: block;
    color: rgb(1, 241, 109);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover {
    background-color: #000000;
    color: #000000;
}

.nav-link.active {
    background-color: #000000;
    color: rgb(0, 0, 0);
}

body, html {
    height: 100%;
  }
  
  .bg {
    /* The image used */
    background-image: url("afbeeldingen/DSC08494.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }