/* Algemene stijlen */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #252525;
    overflow: hidden;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.nav-item {
    display: inline;
}

.nav-link {
    display: block;
    color: rgb(1, 241, 109);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover {
    background-color: #ff0000;
    color: #ff0000;
}

.nav-link.active {
    background-color: #ff0000;
    color: rgb(255, 0, 0);
}

body, html {
    height: 100%;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #003600;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #003805;
  }
  
.home {
    background-image: url('/afbeeldingen/procc_cover.jpg');
}
.blue-text {
  color: rgb(252, 252, 252);
}